/*Ajustes Generales*/
* {
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
    }

.cuerpo{
  background-color:#F7F5F3;
}

/*Cabecera*/
#Cabecera{
	background-image:url(https://i.imgur.com/5baobas.png);
	background-repeat:no-repeat;
	background-size:contain;
  background-attachment:fixed;
	height:250px;
  width:100%;
  }
.Opacity{
  width:100%;
  height:80px;
  background-color: #333333;
  opacity: 0.5;
  Position:absolute;
  top: 64px;
}
.rotulo{
	position:Relative;
  font-family:'Rajdhani', sans-serif;
	color:#FFA000;
	text-align:Center;
	font-size:45px;
	top:63px;
  text-shadow: 5px 2px 10px black;
  }
.logo{
	position:relative;
  text-align:Center;
	height:52px;
	top:40px;
}

/*Menú Desplegable*/
.MenuDesplegable{
  width:100%;
  height:150px;
  overflow: hidden;
  position: relative;
}
nav > ul{
  list-style:none;
  display:table;
  width:100%;
  background: #333333;
  position:relative;
}
nav > ul li {
 display: table-cell; 
}
/*Submenu*/
nav > ul > li:hover > ul{
  display:block;
  height:100%;
}
nav > ul > li > ul{
  display:block;
  position:absolute;
  background:#FFA000;
  border-radius: 0px 0px 10px 10px;
	overflow:hidden;
	height:0%;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
nav > ul li a {
  color: white;
  font-family: 'Thasadith', sans-serif;
  font-size:20px;
  display:block;
  line-height: 20px;
  padding:20px;
  position:relative;
  text-align:center;
  text-decoration:none;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
nav> ul > li > ul > li a:hover{
  background:#FFA000;
  color: black;
}
nav > ul > li > a span {
  background:#FFA000;
  display:block;
  height:100%;
  width:100%;
  left:0;
  position:absolute;
  top:-55px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
nav > ul > li > a span .icon {
  display:block;
  line-height:60px;
  color: white;
}
nav > ul > li > a:hover > span {
  top:0;
}

/*Contenido General*/
.Content_Gen{
  width:100%;
  z-index:1;
}
.lateral_general{
  background-color:#FFFFFF;
  width: 24%;
  left:76%;
  position:absolute;
  border-radius:20px;
}
.Contenido{
	width:75%;
  margin-top:20px;
}

/*Títulos Desplegables*/
.TituloSec{
  margin-top:20px;
  margin-bottom:20px;
  width:100%;
  }
#Desayunos{
  background-color:#333333;
	text-align:Center;
  font-family: 'Thasadith', sans-serif;
  box-shadow: 5px 5px 5px #aaa;
  font-size:25px;
  border-radius: 0px 50px 50px 0px;
  color:white;
  padding: 8px;
  margin-left:-10px;
  }
#Comidas{
  background-color:#333333;
	text-align:Center;
  font-family: 'Thasadith', sans-serif;
  box-shadow: 5px 5px 5px #aaa;
  font-size:25px;
  border-radius: 0px 50px 50px 0px;
  color:white;
  padding: 8px;
  margin-left:-10px;
  }
#Cenas{
  background-color:#333333;
	text-align:Center;
  font-family: 'Thasadith', sans-serif;
  box-shadow: 5px 5px 5px #aaa;
  font-size:25px;
  border-radius: 0px 50px 50px 0px;
  color:white;
  padding: 8px;
  margin-left:-10px;
  }
#Postres{
  background-color:#333333;
	text-align:Center;
  font-family: 'Thasadith', sans-serif;
  box-shadow: 5px 5px 5px #aaa;
  font-size:25px;
  border-radius: 0px 50px 50px 0px;
  color:white;
  padding: 8px;
  margin-left:-10px;
  }
.Pdescripcion{
  background-color:#333333;
	text-align:left;
  font-family: 'Thasadith', sans-serif;
  font-size:17px;
  color: white;
  padding: 20px;
  border-radius: 0px 0px 15px 15px;
  width:95%;
  margin-left:20px;
  box-shadow: 5px 5px 5px #aaa;
   }
.ImgParrafo{
	width:150px;
	height:150px;
	float:left;
	margin-left:40px;
  margin-top:20px;
  padding:10px;
}

/*Contenedor Recetas*/
.receta{
  width:95%;
  padding: 20px;
  background:#FFFFFF;
  border-radius:20px;
  margin-bottom:20px;
  margin-left:20px;
}

/*Titulos de las recetas*/
#Muesli{
  font-family: 'Rajdhani', sans-serif;
  text-shadow: 1px 1px 2px black;
  font-size:35px;
  color:#FE9F00;
  text-align:center;
 }
#Porrigde {
  font-family: 'Rajdhani', sans-serif;
  text-shadow: 1px 1px 2px black;
  font-size:35px;
  color:#FE9F00;
  text-align:center;
 }
#Pavo {
  font-family: 'Rajdhani', sans-serif;
  text-shadow: 1px 1px 2px black;
  font-size:35px;
  color:#FE9F00;
  text-align:center;
 }
#Espaguettis {
  font-family: 'Rajdhani', sans-serif;
  text-shadow: 1px 1px 2px black;
  font-size:35px;
  color:#FE9F00;
  text-align:center;
 }
#Crema {
  font-family: 'Rajdhani', sans-serif;
  text-shadow: 1px 1px 2px black;
  font-size:35px;
  color:#FE9F00;
  text-align:center;
 }
#Sopa {
  font-family: 'Rajdhani', sans-serif;
  text-shadow: 1px 1px 2px black;
  font-size:35px;
  color:#FE9F00;
  text-align:center;
 }
#Bizcocho {
  font-family: 'Rajdhani', sans-serif;
  text-shadow: 1px 1px 2px black;
  font-size:35px;
  color:#FE9F00;
  text-align:center;
 }
#Flan {
  font-family: 'Rajdhani', sans-serif;
  text-shadow: 1px 1px 2px black;
  font-size:35px;
  color:#FE9F00;
  text-align:center;
 }
.desc_recipe{
  font-family: 'Thasadith', sans-serif;
  font-size:19px;
  padding:15px;
}

/*Contenedor de recetas*/
.nucleo{
  width:100%;
  height: auto;
  overflow: hidden;
}

/*Cuadro de la receta*/
.lateral {
    background-color: #F9F9F9;
    float: left;
    width: 33%;
    height: auto;
    position: relative;
    margin-right:10px;
    padding: 20px 20px 20px 20px;
    border-radius: 10px 10px 10px 10px;
}
.ImgReceta{
	width:100%;
	height:100%;
	float:left;
  border-radius: 10px;
  margin-bottom: 10px;
 }
.enlaces{
  background-color: #FE9F00;
  position: relative;
  float:left;
  height:auto;
  width:100%;
  border-radius:5px;
  padding: 10px;
  margin-bottom:8px;
  font-family: 'Thasadith', sans-serif;
  border: solid 1px #E3E3E3;
  box-shadow: 3px 3px 3px #aaa;
  font-weight: bold;
  cursor:pointer;
  
}
table{
  background-color: #F9F9F9;
  text-align: left;
  width: 100%;
  border-collapse:collapse;
  margin-top:30px;
}
th, td{
  padding: 5px;
  border-radius: 3px 3px;
  font-family: 'Thasadith', sans-serif;
  font-size:16px;
  text-align:center;
  
}
thead{
  background-color: #FE9F00;
  font-family: 'Rajdhani', sans-serif;
  text-align:center;
  border-bottom: solid 2px black;
  color:white;
}
tr:nth-child(even){
  background-color: #ddd;
}
tr:hover td{
  background-color:#FE9F00;
  opacity:9;
  color:black;
  font-weight: bold;
  cursor:pointer;
}

/*Subtitulos de las recetas*/
.SubtitleRecipe {
  font-family: 'Rajdhani', sans-serif;
  text-shadow: 1px 1px 1px black;
  font-size:28px;
  color:#FE9F00;
  text-align:center;
  text-decoration: underline;
  display:block;
  line-height: 60px;
 }

/*Cuadro de Video y preparación*/
.Video_prep{
  width: 66%;
  background-color:#F9F9F9;
  padding:4px;
  border-radius:10px;
  height:auto;
  float:left;
}
.Video{
	position:Relative;
  height:400px;
	float:left;
	width:100%;
  padding: 10px;
  border: 0px;
}

/*Parrafo de preparación de la receta*/
.Preparacion{
  position: Relative;
	width: 100%;
	text-align: left;
  padding: 20px;
  float:left;
  }
.Preparacion> ol{
  font-family: 'arial', cursive;
  font-size:17px;
}
.Preparacion>ol>li{
  color:black;
  padding: 8px;
  list-style:none;
  font-family: 'Thasadith', sans-serif;
  font-size:17px;
  font-weight: bold;
}
.Preparacion>ol>li>label:hover{
  color:#FE9F00;
  cursor: pointer;  
}
.Preparacion>ol>li>input:checked + label{
  color:lightgray;
}

/*Footer*/
.footer{
  width:100%;
  margin-top:20px;
  Background-color: #333333;
  Border-radius:15px 15px 0px 0px;
  Padding: 10px;
  float: left;
  text-align:Center;
}
.Contacto{
  width:33%;
  float: left;
  font-size:20px;
  font-family: 'Rajdhani', sans-serif;
  color:white;
}
.Enlaces{
  width:33%;
  float: left;
  color:white;
  font-size:20px;
  font-family: 'Rajdhani', sans-serif;
}
.Credits{
  width:33%;
  float: left;
  color:white;
  font-size:20px;
  font-family: 'Rajdhani', sans-serif;
}
.text_footer{
  font-size:20px;
  Padding: 13px 17px 13px 13px;
  text-align:center;
  font-family: 'Rajdhani', sans-serif;
  list-style:none;
}
.text_footer>li{
  display: block;
}
.text_footer>li a { 
  color: #FE9F00;
 }
.text_footer>li a:hover { 
  color: #fcaf35;
  font-weight: bold;
 }

/*Boton Arriba*/
.Boton_up{
  Position:fixed;
  Border-radius:0px;
  cursor:pointer;
  bottom:0px;
  right:0px;
  width:120px;
  height:120px;
  z-index:10;
}

#banner{
  width:88%;
  height:200px;
  margin:6%;
}
#Redessociales{
  width:88%;
  height:200px;
  margin:6%;
}




